* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    background-color: #7a323e;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, nav, main, footer {
    padding: 2%;
    margin: 1% auto;
    max-width: 1200px;
    background-color: #f0dede;
    width: 95%;
    border-radius: 12px;
    box-shadow: 0 4px 10px;
}

header {
    color: #4b1e22;
    text-align: center;
    background-color: #f6c9cf;
}

nav ul {
    display: flex;
    list-style: none;
    background-color: #f0dede;
    padding: 1%;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav ul li a {
    color: #4b1e22;
    text-decoration: none;
    transition: 0.3s ease;
}

a:hover {
    color: #862525;
}

main section {
    padding: 100px;
    text-align: center;
}

main section h2{
    color: #7a323e;
    margin-bottom: 1%;
}

main section p {
    color: #444;
}


footer {
    text-align: center;
    background-color: #7a323e;
    color: #ccc;
    padding: 1%;
    margin-top: auto;
}

/*css formulario*/
.agendar-horario {
    background-image: url('unhas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    gap: 20px;
}

.container {
    width: 90%;
    max-width: 500px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffffb3;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.campo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

label {
    width: 100px;
    font-weight: bold;
    text-align: left;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button { 
    margin-top: 10px;
    padding: 10px; 
    width: 100%; 
    background-color: #fd2e58;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #7a0e24;
}

a {
    color: #000;
    text-decoration: underline;
    font-size: 14px;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
    .container {
        width: 100%; 
    }

    .campo {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 5px;
    }

    .campo label {
        width: auto; 
        text-align: left;
    }

    .campo input {
        width: 100%; 
    }

    button {
        width: 100%; 
    }
}



/* Para telas menores que 768px (como tablets e celulares em modo paisagem) */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8em; 
    }

    nav ul {
        flex-direction: column; 
        align-items: center; 
    }
    .content {
        width: 90%; 
        margin-top: 20px; 
    }

    .agendar-horario {
        background-size: cover; 
    }
}

.destaque {
    color: green;
    font-size: 30px;
}

.cadastro-cliente {
    background-image: url('unha2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.cadastro-cliente .container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}